:root {
  --color-lightest: #f2f2f2;
  --color-light: #bebdbf;
  --color-mid: #737373;
  --color-dark: #404040;
  --color-darkestish: #1d1b1b;
  --color-darkest: #141414;
  /* Color Theme Swatches in Hex */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
}
#app {
  min-height: 100%;
  min-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  background-color: var(--color-darkestish);
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-lightest);
  flex: 1;
}

.search-bar {
  display: flex;
  align-items: center;

  border-radius: 15px;
  background-color: var(--color-mid);
  padding: 0.3rem 1rem;
}

#location-search-bar {
  min-width: 200px;
  font-size: 1.4rem;
  border: none;

  background-color: transparent;

  color: var(--color-lightest);
}

#location-search-bar:focus {
  outline: none;
}

.search-icon-btn {
  height: 1.5rem;
  width: 35px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  cursor: pointer;
}

.search-img {
  background-image: url("../assets/images/icons8-search-50.png");
  width: 100%;
  height: 100%;
}

.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.options-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.unit-switch {
  padding: 0.2rem 1.5rem;
  font-size: 1.3rem;
  background-color: var(--color-lightest);
  color: var(--color-darkestish);
  border: none;
  border-radius: 15px;
}

/* MAIN */

#main {
  height: 100%;
  width: 100%;
  background-color: var(--color-darkestish);
  padding: 2rem 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-header {
  font-size: 3rem;
  color: var(--color-lightest);
}

.content-container {
  display: grid;
  justify-content: center;
  padding: 5rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 600px);
  grid-auto-rows: 700px;

  width: 100%;
  height: 100%;
}

.info-left {
  background-color: green;

  display: grid;
  grid-template-areas:
    "condition temperature"
    "temperature temperature";
}

.temperature-container {
  grid-area: temperature;
  background-color: yellow;
}

.condition-container {
  grid-area: condition;
}

.info-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 2rem;
  /* background-color: grey; */

  justify-content: center;
  align-content: center;
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--color-darkest);

  box-shadow: 0px 0px 10px 2px #0e0d0d;

  border-radius: 25px;
}

.card-icon {
  width: 64px;
  height: 64px;
}

.card-title {
  color: var(--color-lightest);
}

.card-stats {
  color: var(--color-light);
}

.sun-stats-container {
  display: flex;
  gap: 0.8rem;
  text-align: center;
}

.sun-title {
  font-size: 1rem;
}

.sun-stats {
  font-size: 0.8rem;
}

.uv-img {
  background-image: url("../assets/images/icons8-sun-48.png");
}

.cloud-img {
  background-image: url("../assets/images/icons8-cloud-64.png");
}
.humidity-img {
  background-image: url("../assets/images/icons8-drops-64.png");
}

.wind-img {
  background-image: url("../assets/images/icons8-wind-50.png");
}

.visibility-img {
  background-image: url("../assets/images/icons8-visibility-90.png");
}

.pollution-img {
  background-image: url("../assets/images/icons8-pollution-64.png");
}

.rain-img {
  background-image: url("../assets/images/icons8-rain-96.png");
}

.sun-img {
  background-image: url("../assets/images/icons8-sunset-64.png");
}

.condition-img {
  background-image: url("//cdn.weatherapi.com/weather/64x64/day/386.png");
}

.moon-fist-quarter-img {
  background-image: url("../assets/images/icons8-first-quarter-96.png");
}

.new-moon-img {
  background-image: url("../assets/images/icons8-new-moon-96.png");
}

.moon-last-quarter-img {
  background-image: url("../assets/images/icons8-last-quarter-96.png");
}
