@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:root {
  --color-lightest: #f2f2f2;
  --color-light: #bebdbf;
  --color-mid: #737373;
  --color-dark: #404040;
  --color-darkestish: #1d1b1b;
  --color-darkest: #141414;
  /* Color Theme Swatches in Hex */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Lato Regular";
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
}
#app {
  min-height: 100%;
  min-width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  background-color: var(--color-darkestish);
  padding: 1.5rem 2rem;
  position: sticky;
  top: 0;

  z-index: 999;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-lightest);
  flex: 1;
}

.search-bar {
  display: flex;
  align-items: center;

  border-radius: 15px;
  background-color: var(--color-mid);
  padding: 0.3rem 1rem;
}

#location-search-bar {
  min-width: 200px;
  font-size: 1.4rem;
  border: none;

  background-color: transparent;

  color: var(--color-lightest);
}

#location-search-bar:focus {
  outline: none;
}

.search-icon-btn {
  height: 1.5rem;
  width: 35px;

  background: transparent;
  border: none;

  cursor: pointer;
}

.search-img {
  background-image: url("../assets/images/icons8-search-50.png");
  width: 100%;
  height: 100%;
}

.img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.options-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.unit-switch {
  padding: 0.2rem 1.5rem;
  width: 100px;
  font-size: 1.3rem;
  background-color: var(--color-lightest);
  color: var(--color-darkestish);
  border: none;
  border-radius: 15px;

  cursor: pointer;
}

/* MAIN */

#main {
  height: 100%;
  width: 100%;
  background-color: var(--color-darkestish);
  padding: 3rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem 0;

  gap: 5rem;

  min-width: 100%;
  min-height: 100%;
}

.info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  width: 700px;
  height: 700px;
}

.content-card {
  background-color: var(--color-darkest);
  box-shadow: 0px 0px 10px 2px #0e0d0d;
  border-radius: 25px;
}

.info-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 2rem;
  color: var(--color-lightest);
}

.location-clock {
  color: var(--color-light);
}

.temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.temperature-main {
  font-size: 7rem;
  color: var(--color-lightest);
}

.temperature-details-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 1rem;

  border-left: 2px solid var(--color-light);
  color: var(--color-light);
}

.condition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.condition-text {
  font-size: 2rem;
  color: var(--color-lightest);
}

.condition-img {
  grid-area: conditionimg;
  height: 256px;
  width: 256px;
}

/* CARDS AND ALLAT */

.info-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  row-gap: 2rem;

  justify-content: center;
  align-content: center;
  width: 700px;
  height: 700px;
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: center;

  transform-style: preserve-3d;
  transition: all 0.8s ease;

  position: relative;
  cursor: pointer;
}

.info-card * {
  pointer-events: none;
}

.info-card-front,
.info-card-back {
  position: absolute;

  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--color-darkest);
  border-radius: 25px;
}

.info-card-back {
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
}

.card-icon {
  width: 64px;
  height: 64px;
}

.card-title {
  color: var(--color-lightest);
}

.card-stats {
  color: var(--color-light);
}

.card-description {
  width: 100%;
  height: 100%;

  color: var(--color-lightest);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  gap: 1rem;
}

.uv-description {
  text-align: left;
  align-items: flex-start;
}

.sun-stats-container {
  display: flex;
  gap: 0.8rem;
  text-align: center;
}

.sun-title {
  font-size: 1rem;
}

.sun-stats {
  font-size: 0.8rem;
}

.uv-img {
  background-image: url("../assets/images/icons8-sun-48.png");
}

.cloud-img {
  background-image: url("../assets/images/icons8-cloud-64.png");
}
.humidity-img {
  background-image: url("../assets/images/icons8-drops-64.png");
}

.wind-img {
  background-image: url("../assets/images/icons8-wind-50.png");
}

.visibility-img {
  background-image: url("../assets/images/icons8-visibility-90.png");
}

.pollution-img {
  background-image: url("../assets/images/icons8-pollution-64.png");
}

.rain-img {
  background-image: url("../assets/images/icons8-rain-96.png");
}

.sun-img {
  background-image: url("../assets/images/icons8-sunset-64.png");
}

.loading-modal {
  z-index: 10;
  position: fixed;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  background-color: var(rgba(0, 0, 0, 0.9));
  background-color: var(black);
  backdrop-filter: blur(20px);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 5rem;
}

.hide {
  display: none;
}

.caution-low {
  color: #629d68;
}

.caution-moderate {
  color: #ad6b2d;
}

.caution-high {
  color: #863e3e;
}
